@import url("http://fonts.googleapis.com/css?family=Exo+2:200,200italic,300,300italic,400,400italic,500,500italic,600,600italic");
/* line 5, ../../../../../.virtualenvs/littleblue-site/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.virtualenvs/littleblue-site/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.virtualenvs/littleblue-site/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.virtualenvs/littleblue-site/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.virtualenvs/littleblue-site/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.virtualenvs/littleblue-site/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.virtualenvs/littleblue-site/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.virtualenvs/littleblue-site/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.virtualenvs/littleblue-site/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../../../../../.virtualenvs/littleblue-site/gems/susy-2.0.0.beta.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 23, ../../sass/main.scss */
body {
  color: #999;
  background-color: #333;
  background: url("/images/subtle_patterns/pinstriped_suit.png");
}

/* line 29, ../../sass/main.scss */
a {
  color: #245de1;
  text-decoration: none;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 33, ../../sass/main.scss */
a:visited {
  color: #245de1;
}
/* line 36, ../../sass/main.scss */
a:hover {
  color: #dba21e;
}
/* line 39, ../../sass/main.scss */
a:active {
  position: relative;
  top: 1px;
  left: 1px;
  color: #ae8118;
}
/* line 45, ../../sass/main.scss */
a:focus {
  color: #e6b646;
}

/* line 53, ../../sass/main.scss */
body button, body *[role=button] {
  font-size: 16px;
  padding: 11px;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF245DE1', endColorstr='#FF13388C');
  background: -moz-linear-gradient(#94b0f0, #245de1 50%, #1949b9);
  background: -o-linear-gradient(#94b0f0, #245de1 50%, #1949b9);
  background: -webkit-linear-gradient(#94b0f0, #245de1 50%, #1949b9);
  background: linear-gradient(#94b0f0, #245de1 50%, #1949b9);
  -moz-box-shadow: #d7e2fa 0 1px 0 inset;
  -webkit-box-shadow: #d7e2fa 0 1px 0 inset;
  box-shadow: #d7e2fa 0 1px 0 inset;
  border: 1px solid #1640a2;
  color: #eeeeee;
  text-shadow: #1a4cbf 0 -1px 0;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 15, ../../../../../.virtualenvs/littleblue-site/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body button:hover, body [role=button]:hover {
  text-decoration: none;
}
/* line 24, ../../../../../.virtualenvs/littleblue-site/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body button:hover, body [role=button]:hover {
  background-color: #1949b9;
  background: -moz-linear-gradient(#8ba9ef, #1949b9 50%, #143b95);
  background: -o-linear-gradient(#8ba9ef, #1949b9 50%, #143b95);
  background: -webkit-linear-gradient(#8ba9ef, #1949b9 50%, #143b95);
  background: linear-gradient(#8ba9ef, #1949b9 50%, #143b95);
}
/* line 27, ../../../../../.virtualenvs/littleblue-site/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body button:active, body [role=button]:active {
  -moz-box-shadow: #143b95 0 1px 2px inset;
  -webkit-box-shadow: #143b95 0 1px 2px inset;
  box-shadow: #143b95 0 1px 2px inset;
}
/* line 6, ../../../../../.virtualenvs/littleblue-site/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body button.disabled, body .disabled[role=button], body button[disabled], body [disabled][role=button] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #1949b9;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../.virtualenvs/littleblue-site/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
body button::-moz-focus-inner, body [role=button]::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 63, ../../sass/main.scss */
hr {
  border: none;
  height: 1px;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), #245de1, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0), #245de1, rgba(0, 0, 0, 0));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #245de1, rgba(0, 0, 0, 0));
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #245de1, rgba(0, 0, 0, 0));
  margin-top: 12px;
  margin-bottom: 11px;
}

/* line 106, ../../../../../.virtualenvs/littleblue-site/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 72, ../../sass/main.scss */
h1, h2, h3, h4, h5, h6, hgroup {
  font-family: 'Exo 2', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: italic;
  color: #245de1;
}

/* line 78, ../../sass/main.scss */
h1 {
  font-weight: 600;
  font-style: normal;
  font-size: 29px;
  font-size: 1.8rem;
  line-height: 48px;
  line-height: 3rem;
}

/* line 83, ../../sass/main.scss */
h2 {
  font-style: normal;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 48px;
  line-height: 3rem;
}

/* line 87, ../../sass/main.scss */
h3 {
  font-size: 22px;
  font-size: 1.35rem;
  line-height: 24px;
  line-height: 1.5rem;
}

/* line 90, ../../sass/main.scss */
h4 {
  font-size: 19px;
  font-size: 1.2rem;
  line-height: 24px;
  line-height: 1.5rem;
}

/* line 93, ../../sass/main.scss */
h5 {
  font-size: 18px;
  font-size: 1.1rem;
  line-height: 24px;
  line-height: 1.5rem;
}

/* line 96, ../../sass/main.scss */
h6 {
  font-size: 18px;
  font-size: 1.1rem;
  line-height: 24px;
  line-height: 1.5rem;
  color: #244eae;
}

/* line 100, ../../sass/main.scss */
main hgroup {
  padding-top: 6px;
  padding-top: 0.375rem;
  border-bottom-width: 1px;
  border-bottom-width: 0.0625rem;
  border-bottom-style: solid;
  padding-bottom: 5px;
  padding-bottom: 0.3125rem;
}
/* line 102, ../../sass/main.scss */
main hgroup h1, main hgroup h2, main hgroup h3, main hgroup h4, main hgroup h5, main hgroup h6 {
  border: none;
}
/* line 105, ../../sass/main.scss */
main hgroup h1 {
  font-size: 29px;
  font-size: 1.8rem;
  line-height: 36px;
  line-height: 2.25rem;
}
/* line 108, ../../sass/main.scss */
main hgroup h2 {
  color: #244eae;
  font-style: italic;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 36px;
  line-height: 2.25rem;
}

/* line 116, ../../sass/main.scss */
main h1 {
  text-shadow: 1px 1px 1px #222222;
}
/* line 119, ../../sass/main.scss */
main h2 {
  text-shadow: 1px 1px 1px #999999;
}

/* line 10, ../../../../../.virtualenvs/littleblue-site/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../.virtualenvs/littleblue-site/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/layout/_sticky-footer.scss */
#wrap {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -24px;
}
/* line 18, ../../../../../.virtualenvs/littleblue-site/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/layout/_sticky-footer.scss */
#wrap #push {
  height: 24px;
}

/* line 20, ../../../../../.virtualenvs/littleblue-site/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/layout/_sticky-footer.scss */
footer[role=contentinfo] {
  clear: both;
  position: relative;
  height: 24px;
}

/* line 127, ../../sass/main.scss */
header[role=banner] {
  text-align: left;
  padding-top: 17px;
  padding-top: 1.05rem;
  padding-bottom: 7px;
  padding-bottom: 0.45rem;
  clear: both;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
@media (min-width: 700px) {
  /* line 127, ../../sass/main.scss */
  header[role=banner] {
    text-align: center;
    padding-left: 0.3em;
  }
}
/* line 136, ../../sass/main.scss */
header[role=banner] h1 {
  font-weight: 400;
  letter-spacing: 4px;
  font-size: 64px;
  font-size: 4rem;
  line-height: 72px;
  line-height: 4.5rem;
  color: white;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px #f8fafe, 0 0 40px #f4f6fd, 0 0 50px #396de4, 0 0 60px #2e65e2, 0 0 70px #2a61e1, 0 0 80px #245de1;
}
/* line 142, ../../sass/main.scss */
header[role=banner] h2 {
  display: none;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 9px;
  font-size: 32px;
  font-size: 2rem;
  line-height: 48px;
  line-height: 3rem;
  color: white;
  text-shadow: 0 0 4px white, 0 0 8px white, 0 0 12px white, 0 0 16px white, 0 0 20px white, 0 0 24px white, 0 0 28px white, 0 0 32px white;
}
@media (min-width: 700px) {
  /* line 142, ../../sass/main.scss */
  header[role=banner] h2 {
    display: block;
  }
}

/* line 156, ../../sass/main.scss */
footer[role=contentinfo] {
  font-family: 'Exo 2', Helvetica, Arial, sans-serif;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  font-size: 14px;
  font-size: 0.9rem;
  line-height: 24px;
  line-height: 1.5rem;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
}

/* line 167, ../../sass/main.scss */
nav[role=navigation] {
  background-color: rgba(0, 0, 0, 0.6);
  clear: both;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
}
/* line 171, ../../sass/main.scss */
nav[role=navigation] ul {
  margin: 0 0.25em;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-top: 6px;
  margin-top: 0.375rem;
  margin-bottom: 6px;
  margin-bottom: 0.375rem;
}
/* line 62, ../../../../../.virtualenvs/littleblue-site/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav[role=navigation] ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 49, ../../../../../.virtualenvs/littleblue-site/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav[role=navigation] ul li:first-child {
  padding-left: 0;
}
/* line 50, ../../../../../.virtualenvs/littleblue-site/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav[role=navigation] ul li:last-child {
  padding-right: 0;
}
/* line 52, ../../../../../.virtualenvs/littleblue-site/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav[role=navigation] ul li.last {
  padding-right: 0;
}
/* line 177, ../../sass/main.scss */
nav[role=navigation] ul li a {
  display: block;
  padding: 0 0.6em;
  font-size: 19px;
  font-size: 1.2rem;
  line-height: 36px;
  line-height: 2.25rem;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
}
/* line 182, ../../sass/main.scss */
nav[role=navigation] ul li a:hover {
  background: rgba(255, 255, 255, 0.2);
}
/* line 186, ../../sass/main.scss */
nav[role=navigation] ul li h1 {
  display: inline;
  margin: 0 0.5em 0 0.8em;
  color: #244eae;
  font-size: 14px;
  font-size: 0.9rem;
  line-height: 36px;
  line-height: 2.25rem;
}
/* line 191, ../../sass/main.scss */
nav[role=navigation] ul li h1:after {
  content: ":";
}

/* line 199, ../../sass/main.scss */
#wrap {
  *zoom: 1;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
/* line 10, ../../../../../.virtualenvs/littleblue-site/gems/susy-2.0.0.beta.3/sass/susy/output/float/_clearfix.scss */
#wrap:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 61, ../../../../../.virtualenvs/littleblue-site/gems/susy-2.0.0.beta.3/sass/susy/language/susy/_background.scss */
head {
  display: block;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 999;
  color: #333;
  background: rgba(255, 255, 255, 0.25);
}
/* line 100, ../../../../../.virtualenvs/littleblue-site/gems/susy-2.0.0.beta.3/sass/susy/language/susy/_background.scss */
head::before {
  content: "|||";
  display: block;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}
/* line 110, ../../../../../.virtualenvs/littleblue-site/gems/susy-2.0.0.beta.3/sass/susy/language/susy/_background.scss */
head:hover {
  box-shadow: 0 0 1px rgba(51, 51, 51, 0.5);
  background: rgba(255, 255, 255, 0.5);
}
/* line 68, ../../../../../.virtualenvs/littleblue-site/gems/susy-2.0.0.beta.3/sass/susy/language/susy/_background.scss */
head:hover ~ #wrap,
head:hover ~ body #wrap {
  position: relative;
}
/* line 71, ../../../../../.virtualenvs/littleblue-site/gems/susy-2.0.0.beta.3/sass/susy/language/susy/_background.scss */
head:hover ~ #wrap::before,
head:hover ~ body #wrap::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25)), -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -o-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25)), -o-linear-gradient(top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25)), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25)), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  -webkit-background-size: 8.33333%, 100% 24px;
  background-size: 8.33333%, 100% 24px;
  -webkit-background-origin: content-box, border-box;
  -webkit-background-clip: content-box, border-box;
  background-origin: content-box, border-box;
  background-clip: content-box, border-box;
  background-position: left top;
}

/* line 204, ../../sass/main.scss */
main {
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-top: 12px;
  padding-top: 0.75rem;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
}
@media (min-width: 450px) {
  /* line 204, ../../sass/main.scss */
  main {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 999px) {
  /* line 204, ../../sass/main.scss */
  main {
    padding-left: 1.4em;
    padding-right: 1.4em;
  }
}

/* line 221, ../../sass/main.scss */
main + aside {
  background-color: rgba(0, 0, 0, 0.3);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-top: 12px;
  padding-top: 0.75rem;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
}
@media (min-width: 450px) {
  /* line 221, ../../sass/main.scss */
  main + aside {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
@media (min-width: 999px) {
  /* line 221, ../../sass/main.scss */
  main + aside {
    padding-left: 1em;
    padding-right: 1em;
  }
}

/* line 2, ../../sass/littlebluelib/_selection.scss */
::-moz-selection {
  background: #5af;
  color: #fff;
  text-shadow: none;
}

/* line 3, ../../sass/littlebluelib/_selection.scss */
::selection {
  background: #5af;
  color: #fff;
  text-shadow: none;
}
