{% if page.subtitle || page.subtitlehtml %}
    <hgroup class="page-title">
        {% if page.titlehtml %}
            <h1>{{ page.titlehtml }}</h1>
        {% else %}
            <h1>{{ page.title }}</h1>
        {% endif %}
        {% if page.subtitlehtml %}
            <h2>{{ page.subtitlehtml }}</h2>
        {% else %}
            <h2>{{ page.subtitle }}</h2>
        {% endif %}
    </hgroup>
{% else %}
    {% if page.titlehtml %}
        <h1>{{ page.titlehtml }}</h1>
    {% else %}
        <h1>{{ page.title }}</h1>
    {% endif %}
{% endif %}
