
@import "variables";
@import "susy";

@import "compass";
@import "compass/layout";
@import "compass/reset";

@include establish-baseline;

@include sticky-footer($base-line-height, "main", "> footer", "body > footer");

main > header, body > footer {
    background-color: #333399;
    color: #eeeeee;
    height: $base-line-height;
}

main {
    background-color: #ddddff;
    nav {
        background-color: #9999ff;
        ul {
            @include horizontal-list;
            li {
                background-color:#999999;
            }
        }
    }
}
