
@import "base";

@import "compass";
@import "compass/layout";
@import "compass/reset";

@include establish-baseline;

@include sticky-footer($base-line-height, "main", "> footer", "body > footer");

main > header, body > footer {
    background-color: #333399;
    color: #eeeeee;
    height: $base-line-height;
}
