[submodule "app/images/subtlepatterns"]
	path = app/images/subtlepatterns
	url = github.com:pprince/subtlepatterns.git
[submodule "lib/sass/sass_icon_fonts"]
	path = lib/sass/sass_icon_fonts
	url = git@github.com:pprince/sass_icon_fonts.git
