---
layout: base
---
<body>

    {% if page.css %}
        {% for cssfile in page.css.files %}
            <link rel="stylesheet" href="{{ cssfile }}">
        {% endfor %}
    {% endif %}

    <div id="gridcontainer" class="sticky-footer-wrap">

        <header role="banner">
            {% include site_banner.html %}
        </header>

        <main>
            <nav role="navigation">
                {% include site_navigation.html %}
            </nav>


            {{ content }}


            <aside>
                {% include default_sidebar.html %}
            </aside>
        </main>

        <div class="sticky-footer-push"></div>
    </div>

    <footer role="contentinfo" class="sticky-footer">
        {% include site_footer.html %}
    </footer>

</body>
