---
layout: base
---
<body>

{% if page.css %}
    {% for cssfile in page.css.files %}
        <link rel="stylesheet" href="{{ cssfile }}">
    {% endfor %}
{% endif %}

    <div id="sticky-footer-wrap">

        <header role="banner">
{% include site_banner.html %}
        </header>

        <main>
            <nav role="navigation">
{% include site_navigation.html %}
            </nav>

{{ content }}

            <aside>
{% include default_sidebar.html %}
            </aside>
        </main>

        <div id="sticky-footer-push"></div>
    </div>
    <!-- sticky footer note: footer must be the only element outside of wrap div. -->
    <footer role="contentinfo">
{% include site_footer.html %}
    </footer>
</body>
