---
layout: base
---
<body>
    <div> <!-- sticky footer, wrap -->

            <header role="banner">
    {% include site_banner.html %}
            </header>

            <main>
                <nav role="navigation">
    {% include site_navigation.html %}
                </nav>

    {{ content }}

                <aside>
    {% include default_sidebar.html %}
                </aside>
            </main>

        <div></div> <!-- sticky footer, push -->
    </div>
    <!-- sticky footer note: footer must be the only element outside of wrap div. -->
    <footer role="contentinfo">
        {% include site_footer.html %}
    </footer>
</body>
