---
layout: default
---
<div class="post">
    {% if page.subtitle || page.subtitlehtml %}
        <hgroup>
    {% endif %}

    {% if page.titlehtml %}
            <h1>{{ page.titlehtml }}</h1>
    {% else %}
            <h1>{{ page.title }}&nbsp;:</h1>
    {% endif %}

    {% if page.subtitlehtml %}
            <h2>{{ page.subtitlehtml }}</h2>
    {% else %}
            <h2>{{ page.subtitle }}</h2>
    {% endif %}

    {% if page.subtitle || page.subtitlehtml %}
        </hgroup>
    {% endif %}

    <div class="metadata">
        <span class="label">Published</span> <date itemprop="datePublished" pubdate datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: '%B %d, %Y' }}</date>
    </div>

    {{ content }}

</div>
