// _base.scss
// ==========
//
// Global Variables, Settings, and Imports.


// Color Theme
// -----------
//
$little-blue:   hsl(220, 100%, 60%); // #3377ff
$twitchy-red:   hsl(354, 100%, 31%); // #9f000f;
//
$base-color:    $twitchy-red;
$link-color:    invert($base-color);
$accent-color:  lighten(invert($base-color),10%);
$page-bg-color: darken($base-color, 15%);

// Compass
// -------
//
// Note: Compass is imported early because other SASS extensions make use of
// its features if it is detected (e.g., Susy).
//
// ### Vertical Rhythms ###
// 
// a.k.a. "Baseline Grid", "vertical grid"
//
$base-font-size:        16px; // 16px is kindof a magic number; don't change it. FIXME: explaination.
$base-line-height:      24px;
$rhythm-unit:           "rem";
$rem-with-px-fallback:  true;
// ### border-radius() mixin ###
$default-border-radius: $base-line-height/3;
// ### box-shadow() mixin ###
$default-box-shadow-blur: $base-line-height/2;
$default-box-shadow-color: #222;
// ### text-shadow() mixin ###
$default-text-shadow-h-offset:  3px;
$default-text-shadow-v-offset:  3px;
$default-text-shadow-blur:      6px;
$default-text-shadow-spread:    false;
$default-text-shadow-color:     rgba(black, 0.70);
@import "compass";
@import "compass/layout"; // this is not included when you `@import "compass"` (compass mis-feature.)


// Breakpoints
// -----------
//
// a.k.a Responsive Layout.
//
// These define the key browser widths where we will make layout changes.
//
// We do "mobile first" design.  Whatever styles are specified apply to the
// smallest screen size.  Then, our default styles are overriden for each wider
// screen size in `_respond.scss`.
//
// Susy will detect and integrate with Breakpoint, so we need to import
// Breakpoint before Susy.
//
@import "breakpoint";
$breakpoint-small:    444px; // transition point from x-small to small
$breakpoint-medium:   777px; // transition point from small to medium
$breakpoint-large:    999px; // etc. etc.
$breakpoint-x-large: 1222px;


// Susy
// ----
$susy: (
    columns: 12,
    container: 1300px,
    gutter-position: inside,
    gutters: 0,
    global-box-sizing: border-box,
    debug: (
        output: overlay,
        image: hide,
    )
);
@import "susy";


// Sassy-Buttons
// -------------
$sb-auto-states:        true;
$sb-padding:            $base-line-height/2 - 1px;
$sb-font-size:          $base-font-size;
$sb-line-height:        $base-line-height;
$sb-border-radius:      $default-border-radius/2;
$sb-border-width:       2px;
$sb-text-color:         #eee;
$sb-text-style:         "inset";
$sb-gradient-style:     "shiny";
$sb-base-color:         $base-color;
$sb-second-color:       false;
@import "sassy-buttons";


// BlueBox
// -------
//
// A collection of handy SASS tools from Little Blue (i.e., me.)
//
@import "bluebox/all";
