// Settings... //
// ----------- //

// Color Theme
//$little-blue:   #245de1;
$little-blue:   hsl(220, 100%, 60%);
$base-color:    $little-blue;
$accent-color:  lighten(invert($base-color),10%);

// ...for Compass
//

//   .. vertical rhythms
$base-font-size:        16px;
$base-line-height:      24px;
$rhythm-unit:           "rem";
$rem-with-px-fallback:  true;
$default-border-radius: $base-line-height/3;

//   .. box-shadow() mixin
$default-box-shadow-blur: $base-line-height/2 - 3px;

//   .. text-shadow() mixin
$default-text-shadow-h-offset:  3px;
$default-text-shadow-v-offset:  3px;
$default-text-shadow-blur:      6px;
$default-text-shadow-spread:    false;
$default-text-shadow-color:     rgba(black, 0.70);

// ...for Sassy-Buttons.
$sb-auto-states:        true;
$sb-padding:            $base-line-height/2 - 1px;
$sb-font-size:          $base-font-size;
$sb-line-height:        $base-line-height;
$sb-border-radius:      $default-border-radius/2;
$sb-border-width:       2px;
$sb-text-color:         #eee;
$sb-text-style:         "inset";
$sb-gradient-style:     "shiny";
$sb-base-color:         $base-color;
$sb-second-color:       false;

// ...for Susy
//
$global-box-sizing:     border-box;
$susy: (
    columns: 12,
    container: 1150px,
    gutters: 0,
    gutter-position: inside,
    debug: (
        output: overlay,
        image: show,
    ),
);

@import "typography/fonts";
