@include with-layout($susy) {

    #gridcontainer {
        @include container;
    }

    // X-SMALL
    //  smaller phones
    main {
        @include span(12 nest);
    }
    main>article, main>section {
        @include span(12);
        @include h-padding($base-line-height*3/4);
    }
    main>aside {
        @include span(12);
        @include h-padding($base-line-height/2);
    }

    // SMALL
    //  larger phones and smaller tablets
    @include breakpoint ($breakpoint-small) {
        body {
	    @include h-padding($base-line-height/2);
        }
        main {
	    @include h-padding($base-line-height/2);
        }
        main>article, main>section {
	    @include h-padding;
        }
        main>aside {
	    @include h-padding($base-line-height*2/3);
        }
    }

    // MEDIUM
    //  smaller desktops and larger tablets
    //  TWO COLUMNS
    @include breakpoint ($breakpoint-medium) {
        body {
            @include h-padding;
        }
        main {
            @include h-padding;
        }
        main>article, main>section {
            @include span(first 8);
            @include h-padding;
        }
        main>aside {
            @include span(last 4);
            padding-left: $base-line-height;
            padding-right: 0;
        }
    }

    // LARGE
    //  medium desktops
    @include breakpoint ($breakpoint-large, '.no-mq') {
        body {
            @include h-padding;
        }

        main {
            @include padding-trailer;
            @include h-padding;
        }

        main>article, main>section {
            @include span(first 8);
            @include h-padding($base-line-height*2);
        }

        main>aside {
            @include span(last 4);
            padding-left: $base-line-height;
            padding-right: 0;
        }
    }

    // X-LARGE
    //  larger desktops
    //  (Not needed for this design.)
    @include breakpoint ($breakpoint-x-large) {
        body {
            @include h-padding;
        }

        main {
            @include padding-trailer;
            @include h-padding($base-line-height*1.5);
        }

        main>article, main>section {
            @include span(first 8);
            @include h-padding($base-line-height*3);
        }

        main>aside {
            @include span(last 4);
            padding-left: $base-line-height*1.5;
            padding-right: 0;
        }
    }
}
