// this project's variable:
@import "base";

// Unlike most imports, '@import "compass/reset";' will 
// actually cause CSS to be generated in the output file.
@import "compass/reset";

// BlueBox, the collection of handy SASS tools from LittleBlue.
@import "bluebox/all";

// Other SASS tools
@import "compass";
@import "breakpoint";
@import "susy";
@import "sassy-buttons";

// this project's submodules
@import "layouts/sticky_footer";
@import "syntax/highlight";
@import "syntax/theme";

@include global-box-sizing;
@include establish-baseline;

html {
    height: 100%;
}
body {
    font-family: $default-font-face;
    color: #ccc;
    background: #3d434a; // denim.png->#3d434a
    @include background(
        radial_gradient(300px circle at center $base-line-height*3, color-stops(rgba(white,0.20), transparent)),
        linear_gradient(top left, color-stops(transparent 20%, rgba(black, 0.50))),
        gnoise($width: 127px, $height: 127px, $sigma: 3),
        gnoise($width: 41px, $height: 41px, $sigma: 1),
        #3d434a
    );
    background-attachment: fixed;
}
b, strong {
    font-weight: bold;
}
i, em {
    text-decoration: italic;
}
s {
    text-decoration: line-through;
}
%small {
    @include adjust-font-size-to(84%);
}
a {
    color: $base-color;
    text-decoration: none;
    @include transition(all 0.18s);
    &:visited {
        color: $base-color;
    }
    &:hover {
        color: $accent-color;
    }
    &:focus {
        color: $accent-color;
    }
    &:active {
        color: darken($accent-color,5%);
        position: relative;
        top: 1px;
        left: 1px;
    }
}
a[href="#"], a.current {
    @include unstyled-link();
    cursor: default;
}
hr {
    @include fade-hr($base-color);
}

p {
    @include rhythm-margins();
}
#{headings()}, hgroup {
    font-family: $default-heading-font-face;
    font-weight: bold;
    color: $base-color;
}
h1 {
    @include margin-leader(2);
    @include adjust-font-size-to(218%);
    @include text-shadow(1px 1px 2px rgba(#111, 0.35));
}
h2 {
    @include margin-leader(2);
    @include adjust-font-size-to(168%);
    @include text-shadow(1px 1px 1px rgba(#111, 0.35));
}
h3 {
    @include margin-leader;
    @include adjust-font-size-to(152%);
}
h4 {
    @include margin-leader;
    @include adjust-font-size-to(138%);
}
h5 {
    @include adjust-font-size-to(122%);
    color: darken($base-color,8%);
}
h6 {
    @include adjust-font-size-to(114%);
    color: darken($base-color,14%);
}
hgroup>h1+h2 {
    @include margin-leader(1);
}

header[role=banner] {
    text-align: center;
    @include rhythm-padding;
    @include full;
    #{headings()} {
        font-family: $default-banner-heading-font-face;
        margin-top: 0;
        margin-bottom: 0;
    }
    h1 {
        @include adjust-font-size-to(340%);
        @include outline-text(#ddd, true);
        letter-spacing: 2px;
    }
    h2 {
        display: none;
    }
}

nav[role=navigation] {
    font-weight: bold;
    text-align: center;
    @include full;
    @include border-top-radius();
    ul {
        margin: 0 0.25em;
        @include inline-block-list();
        @include margin-leader(0.5);
        @include margin-trailer(0.5);
        li {
            a {
                display: block;
                padding: 0 0.6em;
                @include adjust-font-size-to(122%, 2);
                @include border-radius($base-line-height);
                &:hover {
                    background: rgba(white, 0.20);
                }
                &:hover[href="#"], &:hover.current {
                    background: transparent;
                }
            }
            h1 {
                display: none;
            }
        }
    }
}

main {
    @include box-shadow;
    @include border-radius;
    background: linear-gradient(right top, rgba(black, 0.40), transparent, transparent), rgba(black, 0.1);
    @include margin-trailer(1.5);
}
main>article, main>section {
    @include box-shadow;
    color: #222;
    background-color: rgba(white, 0.85);
    @include padding-trailer;
    @include border-radius;
}
main>aside {
    @extend %small;
    @include padding-trailer;
}
main>aside>h3 {
    display: none;
}
main>aside>h3+h4 {
    @include margin-leader(2);
}

footer[role=contentinfo] {
    @include adjust-leading-to(1.5);
    @extend %small;
    background-color: rgba(black,0.3);
    text-align: center;
    max-width: susy-get(container);
    margin: 0 auto;
    @include border-top-radius;
}

%button {
    @include sassy-button;
    @include box-shadow;
}
button, *[role=button] {
    @extend %button;
}

article>hgroup:first-child, article>h1:first-child, article>h2:first-child, article>h3:first-child, article>h4:first-child, {
    text-align: center;
    @include rhythm-margins;
    h1 {
        color: scale-lightness($base-color, 10%);
    }
    h2 {
        color: scale-lightness($base-color, 20%);
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}

.posts, .vcard {
    padding-left: 1em;
}

.vcard {
    @extend %small;
    @include adjust-leading-to(3/4);
    a {
        @include unstyled-link;
    }
}

.metadata {
    text-align: right;
    @include adjust-font-size-to(85%);
    color: #444;
    .label {
        color: #777;
    }
}

@import "compass/css3/selection";
* {
    @include selection(#5af, #fff) {
        text-shadow: none;
    }
}



// This project's overrides of the above.
@import "respond";
