// this project's variable:
@import "variables";

// Unlike most imports, '@import "compass/reset";' will 
// actually cause CSS to be generated in the output file.
@import "compass/reset";

// BlueBox, the collection of handy SASS tools from LittleBlue.
@import "bluebox";

// other global imports:
@import "compass";
@import "breakpoint";
@import "susy";
@import "sassy-buttons";

@import "layouts/sticky_footer";

@include global-box-sizing;
@include establish-baseline;

/******************************
@include font-face( 'Overpass',
    font-files(
        'overpass/overpass_regular-web.woff',
        'overpass/overpass_regular-web.ttf',
        'overpass/overpass_regular-web.svg'
    ),
    'overpass/overpass_regular-web.eot',
    normal,
    normal
);
@include font-face( 'Overpass',
    font-files(
        'overpass/overpass_bold-web.woff',
        'overpass/overpass_bold-web.ttf',
        'overpass/overpass_bold-web.svg'
    ),
    'overpass/overpass_bold-web.eot',
    bold,
    normal
);
******************************/


html {
    height: 100%;
}
body {
    font-family: $default-font-face;
    color: #ccc;
    @include background( linear_gradient(left top, #777, black) );
    background-attachment: fixed;
    @include breakpoint(450px) {
        padding-left: 1.2em;
        padding-right: 1.2em;
    }
}
b, strong {
    font-weight: bold;
}
i, em {
    text-decoration: italic;
}
s {
    // FIXME: strike-through text.
}
%small {
    @include adjust-font-size-to(84%);
}
a {
    color: $base-color;
    text-decoration: none;
    @include transition(all 0.13s);
    &:visited {
        color: $base-color;
    }
    &:hover {
        color: $accent-color;
    }
    &:focus {
        color: $accent-color;
    }
    &:active {
        color: darken($accent-color,5%);
        position: relative;
        top: 1px;
        left: 1px;
    }
}
a[href="#"], a.current {
    @include unstyled-link();
    cursor: default;
}
hr {
    @include fade-hr($base-color);
}

p, #{headings()}, hgroup {
    @include rhythm-margins();
}
#{headings()}, hgroup {
    font-family: $default-heading-font-face;
    font-weight: bold;
    font-style: italic;
    color: $base-color;
}
hgroup {
    #{headings()} {
        @include rhythm-margins(0)
    }
}
h1 {
    font-style: normal;
    @include adjust-font-size-to(218%);
    @include text-shadow(1px 1px 2px rgba(#111, 0.35));
}
h2 {
    font-style: normal;
    @include adjust-font-size-to(168%);
    @include text-shadow(1px 1px 1px rgba(#111, 0.35));
}
h3 {
    @include adjust-font-size-to(138%);
}
h4 {
    @include adjust-font-size-to(122%);
}
h5 {
    @include adjust-font-size-to(109%);
}
h6 {
    @include adjust-font-size-to(105%);
    color: darken($base-color,10%);
}

header[role=banner] {
    text-align: center;
    @include rhythm-padding;
    @include full;
    #{headings()} {
        font-family: $default-banner-heading-font-face;
        margin-top: 0;
        margin-bottom: 0;
    }
    h1 {
        @include adjust-font-size-to(340%);
        @include outline-text(#ddd, true);
        letter-spacing: 2px;
    }
    h2 {
        display: none;
    }
}

nav[role=navigation] {
    font-weight: bold;
    text-align: center;
    @include full;
    @include border-top-radius();
    ul {
        margin: 0 0.25em;
        @include inline-block-list();
        @include margin-leader(0.5);
        @include margin-trailer(0.5);
        li {
            a {
                display: block;
                padding: 0 0.6em;
                @include adjust-font-size-to(122%, 2);
                @include border-radius($base-line-height);
                &:hover {
                    background: rgba(white, 0.20);
                }
                &:hover[href="#"], &:hover.current {
                    background: transparent;
                }
            }
            h1 {
                display: none;
            }
        }
    }
}

main {
    @include container;
    @include border-radius();
    background: linear-gradient(top right, rgba(black, 0.60), rgba(black, 0.20));
    @include margin-trailer(1.5);
}
main>article {
    color: #222;
    background-color: rgba(white, 0.85);
    @include border-radius;
    @include span(12);
    padding-left: 1em;
    padding-right: 1em;

    @include breakpoint(450px) {
        padding-left: 1.8em;
        padding-right: 1.8em;
    }

    @include breakpoint(777px) {
        @include border-radius(0px);
        @include border-top-right-radius;
        @include border-bottom-radius;
        @include span(8);
        padding-left: 2.8em;
        padding-right: 2.8em;
    }
    hgroup {
        #{headings()} {
        }
        h1 {
            color: scale-lightness($base-color, 10%);
        }
        h2 {
            color: scale-lightness($base-color, 20%);
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
    }
}
main>aside {
    @extend %small;
    @include span(12);
    padding-left: 1em;
    padding-right: 1em;
    @include padding-trailer;
    @include border-radius;

    @include breakpoint(450px) {
        padding-left: 1.2em;
        padding-right: 1.2em;
    }
    @include breakpoint(777px) {
        @include span(4);
        padding-left: 1.8em;
        padding-right: 1.8em;
        @include border-radius(0px);
        @include border-bottom-right-radius;
    }
}

footer[role=contentinfo] {
    @include adjust-leading-to(1.5);
    @extend %small;
    background-color: rgba(black,0.3);
    text-align: center;
    max-width: susy-get(container);
    margin: 0 auto;
    @include border-top-radius;
}

%button {
    @include sassy-button;
    @include box-shadow;
}
button, *[role=button] {
    @extend %button;
}

.vcard {
    @include adjust-font-size-to(72%, 3/4);
    padding-left: 1em;
    padding-right: 1em;
    a {
        @include unstyled-link;
    }
}

.metadata {
    text-align: right;
    @include adjust-font-size-to(85%);
    color: #444;
    .label {
        color: #777;
    }
}

@import "syntax";
.highlight {
    background-color: #111;
    font-family: $default-monospace-font-face;
    overflow: auto;
    @include rhythm-borders(1px, 0.5);
    @include rhythm-margins;
    @include box-shadow;
    @include border-radius;
}

@import "compass/css3/selection";
* {
    @include selection(#5af, #fff) {
        text-shadow: none;
    }
}
