<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">

        <title>{{ site.name }} - {{ page.title }}</title>

        <!-- FIXME: For development only. -->
        <script src="http://vps.littlebluetech.com:35729/livereload.js"></script>

    </head>
    <body>

        <!-- for sticky footer -->
        <div id="wrap">

            <header role="banner">
                <hgroup>
                <h1>Little Blue Tech</h1>
                <h2>A witty tag-line should be invented.</h2>
                </hgroup>
            </header>


            <nav role="navigation">
                <ul>
                    <li><h1>Main Navigation</h1></li>
                    <li><a href="/"{% if page.name == 'about' %} class="current"{% endif %}>About</a></li>
                    <li><a href="/cv/"{% if page.name == 'cv' %} class="current"{% endif %}>Résumé</a></li>
                </ul>
            </nav>


            <main>{{ content }}</main>


            <aside>

                <h2>Blog Posts</h2>
                {% include blog_posts.html %}

                <hr>

                <h2>Contact Me</h2>
                {% include contact_info.html %}
            </aside>


            <!-- /for sticky footer -->
            <div id="push"></div>
        </div><!-- /div id=wrap -->

        <!-- note: footer must be only element outside of #wrap. -->
        <footer role="contentinfo">


            &copy; 2014
            <a href="mailto:paul@littlebluetech.com">Paul Prince</a>,
            released
            <a href="https://github.com/pprince/littleblue-site/">on GitHub</a>
            under the
            <a href="http://opensource.org/licenses/MIT">MIT License</a>.


        </footer>

    </body>
</html>
