// Import variables, etc.
@import "base";


// PRODUCES OUTPUT:
// ----------------

body {
    background-color: #222;
    background: url('/images/subtle_patterns/px_by_Gre3g.png');
}

nav[role=navigation] {
    background-color: rgba(black,0.8);
}

header[role=banner] {
}

footer[role=contentinfo] {
    background-color: rgba(black,0.8);
}

main {
    background-color: rgba(white, 0.7);
}
main+aside {
    background-color: rgba(white, 0.6);
}
