// Import variables, etc.
@import "base";


// PRODUCES OUTPUT:
// ----------------

body {
    background: url('/images/subtle_patterns/groovepaper.png');
}

header[role=banner], footer[role=contentinfo] {
    background-color: #222;
    background: url('/images/subtle_patterns/dark_wood.png');
}

nav[role=navigation] {

}

main {
    background-color: rgba(180,180,255,0.3);
}
main+aside {
    background-color: rgba(255,180,180,0.3);
}

body>section, #wrap>section {
}
