// Import variables, etc.
@import "base";


// PRODUCES OUTPUT:
// ----------------

@include sticky-footer($base-line-height, "#wrap", "#push", "footer[role=contentinfo]");

header[role=banner], footer[role=contentinfo] {
    text-align: center;
    color: #ddd;
}

nav[role=navigation] {
    @include full;
    @include padding-leader(0.5);
    @include padding-trailer(0.5);
    text-align: center;
    h1 { display: none; }
    ul {
        @include inline-list;
    }
}

#wrap {
    @include container;
}

header[role=banner] {
    @include full;
}

main {
    @include span(8);
}

main+aside {
    @include span(4);
}
