// Import variables, etc.
@import "base";


// PRODUCES OUTPUT:
// ----------------

@include sticky-footer($base-line-height, "#wrap", "#push", "footer");

nav[role=navigation] {
    text-align: center;
    ul {
        @include inline-list;
    }
}

main {
    float: left;
    width: 60%;
    margin-left: 1%;
}
main+aside {
    float: right;
    width: 37%;
    margin-right: 1%;
}

body>section, #wrap>section {
    margin: 1em auto;
    max-width: 960px;
}
body>section, #wrap>section {
    @include clearfix();
}
