// Import variables, etc.
@import "base";


// PRODUCES OUTPUT:
// ----------------

@include sticky-footer($base-line-height, "#wrap", "#push", "footer");

nav[role=navigation] {
    ul {
        @include horizontal-list;
        padding: 0.5em;
    }
}

main {
    float: left;
    width: 66%;
}
main+aside {
    float: right;
    width: 33%;
}

nav[role=navigation],
body>section, #wrap>section {
    margin: auto;
    max-width: 960px;
}
body>section, #wrap>section {
    @include clearfix();
}
