@import "base";


// PRODUCES OUTPUT:
// ----------------


@include establish-baseline;


#{headings()} {
    font-family: sans-serif;
    font-weight: bold;
}
h1 {
    font-size: $base-line-height * 1.6;
    line-height: $base-line-height * 2;
}

h2 {
    font-size: $base-line-height * 1.2;
    line-height: $base-line-height * 2;
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}
