@import "base";


// PRODUCES OUTPUT:
// ----------------

@include establish-baseline;


#{headings()} {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}
h1 {
    @include adjust-font-size-to(180%, 2);
    font-style: normal;
}
h2 {
    @include adjust-font-size-to(160%, 2);
}
h3 {
    @include adjust-font-size-to(125%, 1);
}
h4 {
    @include adjust-font-size-to(110%, 1);
}
h5 {
    @include adjust-font-size-to(95%, 1);
}
h6 {
    @include adjust-font-size-to(85%, 1);
}

header[role=banner] {
    h1 {
        font-family: 'Exo 2', cursive;
        font-weight: 400;
        font-style: normal;
        @include adjust-font-size-to(380%, 4);
        @include neon-text(#245de1, 80px);
        border: none;
    }
    h2 {
        font-family: 'Exo 2', cursive;
        font-weight: 300;
        font-style: normal;
        @include adjust-font-size-to(180%, 2);
        @include neon-text(white, 28px);
        text-transform: uppercase;
        letter-spacing: 7px;
        border: none;
    }
}

// Don't show shadows when selecting text
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

// Fonts from Google
@import url('http://fonts.googleapis.com/css?family=Poiret+One|Exo+2:400,200,200italic,300,300italic,400italic');
