// Settings... //
// ----------- //

// Color Theme
//$little-blue:   #245de1;
$little-blue:   hsl(220, 100%, 58%);
$base-color:    $little-blue;

// ...for Compass
$base-font-size:        16px;
$base-line-height:      24px;
$rhythm-unit:           "rem";
$rem-with-px-fallback:  true;
$default-border-radius: $base-line-height/3;

// ...for Sassy-Buttons.
$sb-base-color:         #245de1;    // Base color of your button
$sb-second-color:       false;      // Optional second color of button gradient
$sb-border-radius:      $default-border-radius/2;       // Button border radius
$sb-border-width:       2px;        // Button border width
$sb-padding:            $base-line-height/2 - 1px;      // Button padding
$sb-font-size:          $base-font-size;                // Button font-size
$sb-line-height:        $base-line-height;              // Button line-height
$sb-text-color:         #eee;       // Button text color
$sb-text-style:         "inset";    // Button text shadow style
$sb-gradient-style:     "shiny";    // Button gradient style
$sb-auto-states:        true;       // Automatically create pseudo styles 

// ...for Susy
$global-box-sizing:     border-box;
$susy: (
    columns: 12,
    container: 900px,
    gutters: 1/4,
    gutter-position: inside,
    debug: (
        output: overlay,
        image: show,
    ),
);

@import url('http://fonts.googleapis.com/css?family=Droid+Sans:400,400italic,700,700italic|Droid+Serif:400,400italic,700,700italic|Reenie+Beanie|Puritan');

$default-font:  'Droid Sans', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
$heading-font:  'Droid Serif', serif;
$banner-font:   'Reenie Beanie', 'Droid Serif', serif;
