// this project's variables
@import "variables";

// other global imports
@import "compass";
@import "compass/layout";
@import "sassy-buttons";
@import "breakpoint";
@import "susy";

@import "littleblue";


// Unlike most imports, '@import "compass/reset";' will 
// actually cause CSS to be generated in the output file.
@import "compass/reset";

@include global-box-sizing;
@include establish-baseline;


@include font-face( 'Overpass',
    font-files(
        'overpass/overpass_regular-web.woff',
        'overpass/overpass_regular-web.ttf',
        'overpass/overpass_regular-web.svg'
    ),
    'overpass/overpass_regular-web.eot',
    normal,
    normal
);
@include font-face( 'Overpass',
    font-files(
        'overpass/overpass_bold-web.woff',
        'overpass/overpass_bold-web.ttf',
        'overpass/overpass_bold-web.svg'
    ),
    'overpass/overpass_bold-web.eot',
    bold,
    normal
);


body {
    font-family: $default-font;
    color: #ccc;
    background-color: #333;
    //background: url('/images/subtle_patterns/pinstriped_suit.png');
}
p {
    @include margin-leader();
    @include margin-trailer();
}
b, strong {
    font-weight: bold;
}
i, em {
    text-decoration: italic;
}
s {
    // FIXME: strike-through text.
}
a {
    color: $base-color;
    text-decoration: none;
    @include transition(all 0.13s);
    &:visited {
        color: $base-color;
    }
    &:hover {
        color: invert($base-color);
    }
    &:focus {
        color: invert($base-color);
    }
    &:active {
        color: darken(invert($base-color),15%);
        position: relative;
        top: 1px;
        left: 1px;
    }
}
a[href="#"], a.current {
    @include unstyled-link();
    cursor: default;
}
hr {
    @include fade-hr($base-color);
    margin-top: $base-line-height/2; // +1px for the 1px of height.
    margin-bottom: $base-line-height/2 - 1px;
}
.vcard {
    @include adjust-font-size-to(72%, 3/4);
    padding-left: 1em;
    padding-right: 1em;
    a {
        @include unstyled-link();
    }
}

@import "syntax";
.highlight {
    background-color: #111;
    font-family: 'Inconsolata', monospace;
    overflow: auto;
    @include rhythm-borders(1px, 0.5);
    @include box-shadow();
    @include border-radius();
}

%button {
    @include sassy-button;
    @include box-shadow;
}
body button, body *[role=button] {
    @extend %button;
}

.metadata {
    text-align: right;
    @include adjust-font-size-to(85%);
    color: #444;
    .label {
        color: #777;
    }
}

#{headings()}, hgroup {
    font-family: $heading-font;
    //font-weight: bold;
    //font-style: italic;
    color: $base-color;
}
h1 {
    font-style: normal;
    @include adjust-font-size-to(227%);
    @include text-shadow(1px 1px 1px rgba(#111, 0.35));
}
h2 {
    font-style: normal;
    @include adjust-font-size-to(178%);
    @include text-shadow(1px 1px 1px rgba(#111, 0.35));
}
h3 {
    @include adjust-font-size-to(138%);
}
h4 {
    @include adjust-font-size-to(122%);
}
h5 {
    @include adjust-font-size-to(109%);
}
h6 {
    @include adjust-font-size-to(105%);
    color: darken($base-color,10%);
}

main > hgroup {
    h2 {
        color: lighten($base-color,10%);
        @include adjust-leading-to(1.8);
        @include trailer(0.2);
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}

header[role=banner] {
    text-align: left;
    @include padding-leader(0.7);
    @include padding-trailer(0.3);
    @include full; // for susy..
    @include breakpoint(700px) {
        text-align: center;
    }
    #{headings()} {
        font-family: $banner-font;
    }
    h1 {
        @include adjust-font-size-to(380%);
        font-weight: normal;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    h2 {
        display: none;
    }
}

@include sticky-footer($base-line-height, "#wrap", "#push", "footer[role=contentinfo]");
#wrap {
    // for susy..
    @include container;
}
footer[role=contentinfo] {
    background-color: rgba(black,0.6);
    text-align: center;
    max-width: susy-get(container);
    margin: 0 auto;
    @include adjust-font-size-to(87%, 1);
    @include border-top-radius();
}

nav[role=navigation] {
    background-color: rgba(black,0.6);
    text-align: center;
    @include full;
    @include border-top-radius();
    ul {
        margin: 0 0.25em;
        @include inline-block-list();
        @include margin-leader(0.25);
        @include margin-trailer(0.25);
        li {
            a {
                display: block;
                padding: 0 0.6em;
                @include adjust-font-size-to(100%, 1.5);
                @include border-radius(($base-line-height*1.5)/2);
                &:hover {
                    background: rgba(white, 0.20);
                }
                &:hover[href="#"], &:hover.current {
                    background: transparent;
                }
            }
            h1 {
                display: none;
            }
        }
    }
}

main, main+aside {
    @include padding-leader();
    @include padding-trailer();
    @include margin-trailer();
}
main {
    color: #222;
    background-color: rgba(white, 0.80);

    @include border-bottom-radius();

    @include span(12);
    padding-left: 1em;
    padding-right: 1em;

    @include breakpoint(450px) {
        padding-left: 1.8em;
        padding-right: 1.8em;
    }

    @include breakpoint(777px) {
        @include span(8);
        padding-left: 2.8em;
        padding-right: 2.8em;
    }
}
main+aside {
    @include adjust-font-size-to(84%);
    background-color: rgba(black,0.30);
    @include border-bottom-right-radius();

    @include span(12);
    padding-left: 1em;
    padding-right: 1em;

    @include breakpoint(450px) {
        padding-left: 1em;
        padding-right: 1em;
    }
    @include breakpoint(777px) {
        @include span(4);
        padding-left: 1.8em;
        padding-right: 1.8em;
    }
}

// Don't show shadows when selecting text
@include selection-noshadows();
