---
layout: base
---
<div class="sticky-footer-wrap">

    <header role="banner">
        {% include site_banner.html %}
    </header>

    <main>
        <nav role="navigation">
            {% include main_navigation.html %}
        </nav>


        {{ content }}


        <aside>
            {% include default_sidebar.html %}
        </aside>
    </main>

    <div class="sticky-footer-push"></div>
</div>

<footer role="contentinfo" class="sticky-footer">
    {% include site_footer.html %}
</footer>
