@import "base";

figure {
    @include rhythm-margins;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    color: #222;
    background-color: #ddd;
    border: 1px solid black;
}

figure > figcaption {
    display: block;
    clear: both;
    width: 100%;
}

$eg-color: #2288cc;

figure {
    .eg:nth-child(1) {
        border-right: 1px solid #222;
    }
    .eg:nth-child(2) {
        border-right: 1px solid #222;
    }
}

#figure1 {
    .eg:nth-child(1) {
        background: $eg-color;
    }
    .eg:nth-child(2) {
        background: background_noise($size: 31), $eg-color;
    }
    .eg:nth-child(3) {
        background: gnoise($width: 31, $height: 31), $eg-color;
    }
}

#figure2 {
    .eg:nth-child(1) {
        background: $eg-color;
    }
    .eg:nth-child(2) {
        background:
            background_noise(),
            background_noise($size: 17),
            background_noise($size: 19),
            background_noise($size: 23),
            background_noise($size: 29),
        $eg-color;
    }
    .eg:nth-child(3) {
        background:
            gnoise($sigma: 8),
            gnoise($width: 17, $height: 17, $sigma: 2),
            gnoise($width: 19, $height: 19, $sigma: 3),
            gnoise($width: 23, $height: 23, $sigma: 4),
            gnoise($width: 29, $height: 29, $sigma: 6),
        $eg-color;
    }
}

#figure3 {
    .eg:nth-child(1) {
        background: $eg-color;
    }
    .eg:nth-child(2) {
        background: background_noise($intensity: 0.20, $opacity: 0.50), $eg-color;
    }
    .eg:nth-child(3) {
        background: gnoise($sigma: 20), $eg-color;
    }
}

#figure4 {
    .eg:nth-child(1) {
        background: $eg-color;
    }
    .eg:nth-child(2) {
        background: background_noise($intensity: 0.60, $opacity: 0.70), $eg-color;
    }
    .eg:nth-child(3) {
        background: gnoise($sigma: 50), $eg-color;
    }
}

#figure5, #figure6, #figure7 {
    @include container(100%);
}
#figure5>div, #figure6>div, #figure7>div {
    @include span(1 of 10 gutters 1/4 split);
    @include adjust-leading-to(3);
}
