@import "base";

//@import "compass";
//@import "breakpoint";
//@import "susy";
//@import "garnish";

$keyboard-color: #ddd;
$key-color: red;

$key-size: 5.2em;
$pad-keys: 0.4em; 
$pad-grid: 0.2em;

$grid: (
    columns: 23,
    column-width: $key-size,
    gutters: ($pad-grid/$key-size),
    gutter-position: split,
);

@include with-layout($grid static) {

    .key {
        @include border-radius(1.5em);
        @include box-shadow(
            rgba(black, 0.08) 0 0 1.2em 0.2em inset,
            rgba(black, 0.08) 0 0 0.6em 0
        );
        border-style: solid;
        border-width: 0.8em 1em 1.2em 1em;
        border-top-color: rgba(black, 0.08);
        border-right-color: rgba(black, 0.04);
        border-bottom-color: rgba(white, 0.10);
        border-left-color: rgba(white, 0.04);

        span, .span {
            font-size: 90%;
            line-height: 1;
        }
    }

    .keyboard {
        @include border-radius(0.9em);
        @include box-shadow(
            rgba(black, 0.20) 0 0 0.3em 0 inset,
            rgba(black, 0.30) 0 0 0.7em 0
        );
        font-size: 60%;
        line-height: 1;
        padding: $pad-grid;
        width: container()+2*$pad-grid;
        margin: 4em auto;

        background-color: #ddd;
        .key {
            background-color: #fcc;
        }
        .led {
            background-color: #cfc;
        }

    }

    .keyboard .grid
    {
        @include container();

        .key,
        .spacer,
        .led,
        {
            padding: $pad-keys;
            margin-top: gutters();
            margin-bottom: gutters();
            overflow: hidden;

            &:first-child {
                @include first;
            }
            &:last-child {
                @include last;
            }

            @include span(1);
            &.half-wide {
                @include span(0.5);
            }
            &.wide-1 {
                @include span(1.25);
            }
            &.wide-2 {
                @include span(1.5);
            }
            &.wide-3 {
                @include span(1.75);
            }
            &.wide-4 {
                @include span(2);
            }
            &.wide-5 {
                @include span(2.25);
            }
            &.wide-7 {
                @include span(2.75);
            }
            &.spacebar {
                @include span(5.75);
            }
            &.full {
                @include full;
            }

            height: span(1);
            &.half-tall {
                height: span(0.5);
            }
            &.double-tall {
                height: span(2);
            }

            &.stepped {
                border-right-width: 1/2 * susy-get(column-width);
            }
        }
    }
}
