@import "base";

header[role=banner] {
    text-align: center;
    @include rhythm-padding;
    @include full;
    #{headings()} {
        margin-top: 0;
        margin-bottom: 0;
    }
    h1 {
        @include adjust-font-size-to(340%);
        @include outline-text(#ddd, true);
        letter-spacing: 2px;
    }
}

nav[role=navigation] {
    font-weight: bold;
    text-align: center;
    @include full;
    ul {
        @include inline-block-list();
        li {
            a {
                display: block;
                padding: 0 0.6em;
                @include adjust-font-size-to(122%, 2);
                @include border-radius($base-line-height);
                &:hover {
                    background: rgba(white, 0.20);
                }
                &:hover[href="#"], &:hover.current {
                    background: transparent;
                }
            }
            h1 {
                display: none;
            }
        }
    }
}

.vcard {
    @extend %small;
    @include adjust-leading-to(3/4);
    a {
        @include unstyled-link;
    }
}

.metadata {
    @extend %small;
    text-align: right;
    color: #444;
    .label {
        color: #777;
    }
}


